.container-with-img img {
    width: 1100px;
}

.my-button {
    position: absolute;
    transform: translateY(-140px) translateX(-200px);
    width: 200px;
    opacity: 0;
}

.my-button2 {
    position: absolute;
    transform: translateY(-140px) translateX(350px);
    width: 200px;
    opacity: 0;
}